:root {
	--main-background-color: #2E3440;
	--main-header-color: #D8DEE9;
	--main-text-color: #D8DEE9;
	--main-link-color: #81A1C1;
	--main-title-color: #90BCBB;
	--main-project-color: #81A1C1;
}

@media (prefers-color-scheme: light) {
	:root {
	--main-background-color: #ECEFF4;
	--main-header-color: #3B4252;
	--main-text-color: #3B4252;
	--main-link-color: #2E609E;
	--main-title-color: #90BCBB;
	--main-project-color: #2E609E;
	}
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;

	font-family: 'B612', sans-serif;
	background-color: var(--main-background-color);
}

#page_wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#main_content {
	max-width: 600px;
	margin: 60px 20px 20px 20px;
}

#header {
	width: 100%;
	height: 37px;
	font-size: 1.7em;
  color: var(--main-header-color);
}

#line {
	border: 1.5px solid var(--main-header-color);
	margin: 10px 0 15px 0;
}

li a {
	color: var(--main-link-color);
	text-decoration: none;
}

li a:hover {
	border-bottom: solid 2px var(--main-link-color);
}

#projects li {
	list-style-type: none;
}

.title {
	font-size: 1.1em;
	color: var(--main-title-color);
	margin-bottom: .2em;
}

.highlight {
	color: var(--main-title-color);
}

.text {
	font-size: 1.1em;
	color: var(--main-text-color);
	margin-bottom: .625em;
}

.footer_link {
	font-size: 1.2em;
	color: var(--main-title-color);
	text-decoration: none;
}

.footer_link:hover {
	border-bottom: solid 2px var(--main-title-color);
}