html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    background-color: #F2F2F2;
    font-family: 'Lato', sans-serif;
}

.navbar {
  width: 100%;
  height: 40px;
  position: fixed;
  z-index: 5;
  border-bottom: 1px solid black;
  background-color: #F2F2F2;
}

.home {
  display: inline-block;
  float: left;
  margin-left: 8%;
  top: 50%;
  font-size: 30px;
}

.about{
  display: inline-block;
  margin-left: 2%;
  top: 50%;
  font-size: 30px;
}

.pictures {
  display: inline-block;
  margin-left: 2%;
  top: 50%;
  font-size: 30px;
}

.name {
  float: right;
  font-family: 'Roboto', sans-serif;
  margin-right: 8%;
  font-size: 30px;
}

#landing-photo-wrapper {
    width: 100%;
    height: 75%;
    position: relative;
    /*https://get.pxhere.com/photo/landscape-nature-rock-mountain-snow-cloud-black-and-white-white-mountain-range-formation-darkness-black-monochrome-terrain-summit-geology-monochrome-photography-mountainous-landforms-174417.jpg*/
    background:url("../../images/Half-dome.jpg") no-repeat;
    background-position: 0px 0px right;
    background-attachment: fixed;
}


#landing-photo-name {
  position: absolute;
  font-size: 50px;
  right: 30px;
  bottom: 25px;
  color: #E0E0E0;
}

#landing-photo-description-wrapper {
  position: relative;
  padding-top: 10px;
  width: 800px;
  margin: 0 auto;
}

#ld-photo-title {
  font-size: 40px;
  text-align: center;
  margin-top: 10px;
}

#ld-photo-text {
  width: 785px;
  font-size: 20px;
  font-weight: 200;
  text-align: center;
  margin: 10 auto 100 auto;
}

.photo-card-wrapper {
  position: relative;
  width: 1220px;
  height: 660px;
  background-color: #929497;
  margin: 0 auto;
}

.photo-card-photo {
  position: absolute;
  width: 780px;
  height: 544px;
  background:url("../../images/landing-photo.jpg") no-repeat;
  background-size: 100% 100%;
  background-position: 0px 0px;
  top: 58px;
  left: 40px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.photo-card-text-title {
  position: absolute;
  color: black;
  font-size: 40px;
  margin: 15 25 15 25;
}

.photo-card-text {
  height: 544px;
  width: 320px;
  position: absolute;
  background-color: #F2F2F2;
  top: 58px;
  right: 40px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.photo-card-text-text {
  position: absolute;
  font-size: 18px;
  margin: 70 25 15 25;
}

.photo-card-text-location {
  position: absolute;
  font-size: 18px;
  bottom: 20px;
  left: 25px;
}

#location {
  height: 18px;
}

#bottom-wrapper {
  width: 80%;
  height: 150px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

#bottom-text-major {
  width: 350px;
  font-size: 30px;
  text-align: center;
  margin: 0 auto;
}

.bottom-link {
  font-size: 30px;
  text-decoration: none;
  transition: 0.2s;
}

.bottom-link:visited {
  color: black;
}

.bottom-link:hover {
  color: #828282;
  transition: 0.2s;
}

.bottom-link:link {
  color: black;
}

#bottom-text-minor {
  font-size: 25px;
  position: relative;
  margin-top: 10px;
  width: 180px;
  margin: 0 auto;
  text-align: center;
}

#bottom-text-year {
  text-align: center;
  font-size: 20px;
}
